.toppart{
    text-align: center;
}

a{
    padding-left: 100px;
    padding-right: 100px;
    color: black;
    text-decoration: none;
}

.tittle{
    color: black;
    background-color: #00cc99;
    text-align: center;
    
}

.carousel{
    background-image: url('Primary\ PCI\ Underused\ but\ Just\ as\ Effective\ in\ Cancer\ Patients\ With\ STEMI.jpeg');
    background-size: cover;
    height: 100%;
    width: 100%;
}
